button {
  background-color: #228be6;
  color: #fff;
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  text-transform: capitalize;
  border: none;
}

button:hover {
  background: transparent;
  color: #228be6;
  border: solid 1px #228be6;
}

input {
  padding: 0.8rem;
  border-radius: 8px;
  margin-right: 1rem;
  border: none;
  border: solid 1px #228be6;
}
